@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  font-size: 64px;
  font-family: chiaroscuro;
  webkit-text-stroke: 1px black;
}

path {
  animation: hideshow 1s ease-in-out infinite alternate;
}
/* 
@keyframes hideshow {
  from {
    stroke-width: 0;
    stroke: black;
  }
  to {
    stroke-width: 8;
    stroke: black;
  }
} */
